<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/css/alert.css" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="static/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
      crossorigin="anonymous"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
      integrity="sha512-rRQtF4V2wtAvXsou4iUAs2kXHi3Lj9NE7xJR77DE7GHsxgY9RTWy93dzMXgDIG8ToiRTD45VsDNdTiUagOFeZA=="
      crossorigin="anonymous"
    />
    <!--===============================================================================================-->
    <!--<link rel="stylesheet" type="text/css" href="static/css/util.css">-->
    <link rel="stylesheet" type="text/css" href="static/css/login.css" />
    <!--===============================================================================================-->
  </head>
  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <form
            class="login100-form validate-form"
            action="{{url_for('login')}}"
            method="post"
          >
            <span class="login100-form-title p-b-26"> Welcome </span>
            <span class="login100-form-title p-b-48">
              <img style="vertical-align: middle; width: 100px; height: 100px; border-radius: 50%;" src="https://png.pngtree.com/element_our/png/20181228/avatar-vector-icon-png_296057.jpg">
            </span>

            <div class="wrap-input100">
              <input
                class="input100"
                type="text"
                name="username"
                autocomplete="off"
                required
              />
              <span class="focus-input100" data-placeholder="Username"></span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Enter password"
            >
              <span class="btn-show-pass">
                <i class="zmdi zmdi-eye"></i>
              </span>
              <input
                class="input100"
                type="password"
                name="password"
                required
              />
              <span class="focus-input100" data-placeholder="Password"></span>
            </div>

            <div class="container-login100-form-btn">
              <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn">Login</button>
              </div>
            </div>

            <div class="text-center p-t-115">
              <span class="txt1"> Don’t have an account? </span>

              <a class="txt2" href="{{url_for('register')}}"> Sign Up </a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
      integrity="sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA=="
      crossorigin="anonymous"
    ></script>
    <!--===============================================================================================-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!--===============================================================================================-->
    <script src="static/js/main.js"></script>

    <!------ALERTS--------->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if
    category=="success" %}
    <div id="success-box" class="alert">
      <div class="dot"></div>
      <div class="dot two"></div>
      <div class="face">
        <div class="eye"></div>
        <div class="eye right"></div>
        <div class="mouth happy"></div>
      </div>
      <div class="shadow scale"></div>
      <div class="message">
        <span class="alertType">Success!</span>
        <p class="alertMsg">{{message}}</p>
      </div>
      <button class="button-box" data-dismiss="alert">
        <span class="green alertButton">continue</span>
      </button>
    </div>
    <script>
      setTimeout(function () {
        $("#success-box").fadeOut("fast");
      }, 2000);
    </script>
    {% elif category == "error" %}
    <div id="error-box" class="alert">
      <div class="dot"></div>
      <div class="dot two"></div>
      <div class="face2">
        <div class="eye"></div>
        <div class="eye right"></div>
        <div class="mouth sad"></div>
      </div>
      <div class="shadow move"></div>
      <div class="message">
        <span class="alertType">Error!</span>
        <p class="alertMsg">{{message}}</p>
      </div>
      <button class="button-box" data-dismiss="alert">
        <span class="red alertButton">try again</span>
      </button>
    </div>
    {% elif category == "welcome" %}
    <div class="welcome">
      <p id="welcomeAlert">Welcome {{user}}</p>
    </div>
    <script>
      setTimeout(function () {
        $(".welcome").slideToggle("slow");
      }, 2000);
    </script>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
  </body>
</html>
